.background {
    background-image: url(img/london2.jpg);
    background-repeat:no-repeat;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    display: table;

    
    
}

nav ul li { 
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 1em;
    display:inline-block;
    font-family: 'Archivo Black', sans-serif;
  
}

#logo {
    color: white;
}

a{
      color: white;
}

a:hover {
    color: yellow;
}

.flex p {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
    vertical-align: middle;   
}

p { margin: 0 !important; }

.col {
    padding-right: 1em;
	padding-left: 1em;
}

#span {
    font-size:  100px;
}

.uppercase {
    text-transform: capitalize;
}
